<!DOCTYPE html>
<html>
    <head>
        <script>
            function ctfpage() {
                location.href='/ctf'
            }

            function initscore() {
                document.getElementById("initscore").submit()
            }

            function deluser() {
                location.href='/resign'
            }
        </script>
    </head>
    <body>
        <h1>user: {{ id }}</h1>
        <h1>score: {{ score }}</h1>
        <input type="button" Value="ctfpage" onclick="ctfpage()">
        <form id="data" method="POST">
            {% csrf_token %}
            <input type="hidden" name="onclick" value="score">
            <input type="button" Value="initscore" onclick="initscore()">
            <input type="button" Value="resign" onclick="deluser()"> 
        </form>
        
    </body>
</html>