<!DOCTYPE html>
<html>
<head>
  <title>회원가입</title>
  <meta charset="utf-8">
  <script>
    function send() {
      alert('회원가입')
      document.getElementById( "data" ).submit()
    }

  </script>
</head>
<body>
  <div class="login-form">
    <form id='data' method="POST">
      {% csrf_token %}
      <input type="text" name="userid" class="text-field" placeholder="아이디">
      <input type="password" name="password" class="text-field" placeholder="비밀번호">
      <input type="submit" value="회원가입" class="submit-btn" onclick="send();">
    </form>
  </div>
</body>
</html>